[submodule "vim/pack/mrx/start/vim-go"]
	path = vim/pack/mrx/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/mrx/start/ale"]
	path = vim/pack/mrx/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/mrx/start/vader"]
	path = vim/pack/mrx/start/vader
	url = https://github.com/junegunn/vader.vim.git
[submodule "vim/pack/mrx/start/graphql"]
	path = vim/pack/mrx/start/graphql
	url = https://github.com/jparise/vim-graphql.git
